body{
    font-size:15px;
    font-weight: bold;
}

header, footer{
    background-color: #add2e7;
    /* to place header and footer text correctly*/
    display: flex;
    justify-content: space-around;
}

form{
    width: 25%;
    margin-left: 50px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 100px;
}

table{
    width: 75%;
}

main{
    display: flex;
    justify-content: space-evenly;
}

#tableHere{
    overflow: scroll;
    max-height: 550px;
    max-width: 800px;
}
/* to make valid tag background-color red if invalid */
input:invalid{
    border:2px solid red;
}
.input_border{
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
}

.input_border div{
    display:flex;
    justify-content: space-between;
}